body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fcfcfc;
}

.navigation-menu a{
  font-family: 'Sanchez', serif;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 120%;
}

.navigation-menu a:hover{
  font-family: 'Sanchez', serif;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 120%;
}

.menu-user {
  font-family: 'Sanchez', serif;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 105%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Sanchez', serif;
}

li,
p,
label,
button,
div {
  font-family: 'Open Sans', sans-serif;
}
